<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2fb6a7648ab7ffdc8e0f40c6772168c69062fb0defd07f3e86&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;0776c497609a06ff139d6ff6c58aacc5&quot;</div>
        <div>X-Request-Id: 6b4cb37b-3522-45eb-b26e-ad45a816b7d4</div>
        <div>X-Runtime: 0.132960</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 11:18:58 GMT</div>
        <div>Content-Type: application/json</div>
</div>


