<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;96eed96877cd82e7fe675d75ce045b8b6bb9182ef5447ed808&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;78579750bc84f3492525b4b5d2050e93&quot;</div>
        <div>X-Request-Id: 912feae9-bb61-46db-98bf-6d397e1a2dfe</div>
        <div>X-Runtime: 0.136815</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:40:54 GMT</div>
        <div>Content-Type: application/json</div>
</div>


