<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 150,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-06 07:24:35 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-06 07:24:35 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3c48dc5ba9b568f898b009397e0befe0&quot;</div>
        <div>X-Request-Id: d6dc3b3b-46d0-427e-960d-7583a205ba7a</div>
        <div>X-Runtime: 0.048102</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Mon, 06 Aug 2018 07:24:35 GMT</div>
        <div>Content-Type: application/json</div>
</div>


