<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;4e2458326c164f214d0782956efbdd9eeab2d53d1b2eeb87e3&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8732085baa0e7f1d30c0979d633ddd30&quot;</div>
        <div>X-Request-Id: b9d05658-d156-4539-80ec-dee3b9a11c2b</div>
        <div>X-Runtime: 0.153546</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 23 Jul 2018 19:08:25 GMT</div>
        <div>Content-Type: application/json</div>
</div>


