<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;729130ee1112c0f9ab6836f3c2d892edcbf58f492d962a9143&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b544f94edc60779dc87a74e62007231b&quot;</div>
        <div>X-Request-Id: b8c9658b-12af-47e5-b2d1-25089e343f46</div>
        <div>X-Runtime: 0.122251</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 10:44:27 GMT</div>
        <div>Content-Type: application/json</div>
</div>


