<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;5b687932a2bedea34ba271b0f06ad48dec78c7b186f5678201&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f6e148e800a18b8ff0322d2a36076175&quot;</div>
        <div>X-Request-Id: 71b8847d-d129-4c48-8af9-07b8849b41a4</div>
        <div>X-Runtime: 0.171063</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:48:33 GMT</div>
        <div>Content-Type: application/json</div>
</div>


