<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;071d81374c227fd46531690e6b0b3061ddd1b96071f54b2b58&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;68acea2931b9f0c359d1b0f4bf276a6d&quot;</div>
        <div>X-Request-Id: 2c8cbaae-e3c0-4754-987d-ed95eb8cf756</div>
        <div>X-Runtime: 0.136781</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:05:07 GMT</div>
        <div>Content-Type: application/json</div>
</div>


