<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;f1310f90cb9905c11e88840dedef50537fa229f00a74effddc&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f65f0b42a80f68fe01adc37c95d81ace&quot;</div>
        <div>X-Request-Id: 9f01f2a6-c57e-4b98-b8bc-bd5095993b0e</div>
        <div>X-Runtime: 0.128566</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:06:44 GMT</div>
        <div>Content-Type: application/json</div>
</div>


