<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;3bc9cc642730a5cd91e1fa4856ce0c89755bbdb63bc1e79438&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f214f75ee88123779ecda4a1138ffa2a&quot;</div>
        <div>X-Request-Id: ba721bc3-e8d5-4db8-a544-66f067417a9e</div>
        <div>X-Runtime: 0.121645</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:50:22 GMT</div>
        <div>Content-Type: application/json</div>
</div>


