<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;f7d94b037fcd3e9253d3a693bbc66501ecd39dab80ca268aa2&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;2882d1ffaa044b3cde51c86e455e235c&quot;</div>
        <div>X-Request-Id: d876775d-3fd0-4158-9c9e-8996cbc2eee3</div>
        <div>X-Runtime: 0.137750</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 15:02:13 GMT</div>
        <div>Content-Type: application/json</div>
</div>


