<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;af3d588c3487b4b5e4d2f9e7e9361cfba56a085f136e950044&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;42af56abadca3271a47d5c73a5b58c83&quot;</div>
        <div>X-Request-Id: 245a3649-0cea-4e15-b646-c6955f40e8ab</div>
        <div>X-Runtime: 0.114685</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:50:48 GMT</div>
        <div>Content-Type: application/json</div>
</div>


