<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 116,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-07-23 19:08:27 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-07-23 19:08:27 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;bbc92326c4688eb5fdde245320cd28e3&quot;</div>
        <div>X-Request-Id: a00f9afb-8965-46f9-962e-bfe5122058f9</div>
        <div>X-Runtime: 0.038671</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Mon, 23 Jul 2018 19:08:27 GMT</div>
        <div>Content-Type: application/json</div>
</div>


