<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ef229a26a1dbd767dadeb7c4b480e532db3f93a57d253d2b66&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f3252a68fc54c98f1dd716fa7806c73e&quot;</div>
        <div>X-Request-Id: 7a66a971-f0b4-48d6-8dd0-c8be71ba1c26</div>
        <div>X-Runtime: 0.130556</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:06:46 GMT</div>
        <div>Content-Type: application/json</div>
</div>


