<div>POST to http://api.betholder.io/v1/wallets</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;address&quot;: &quot;5435345&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: e2b860442648d78214f47ea4fa89ff3758e69ae6a7be3e11ea</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/wallets&#39; -H &#39;Authorization: e2b860442648d78214f47ea4fa89ff3758e69ae6a7be3e11ea&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;address&quot;: &quot;5435345&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}&#39;
</div>
