<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;9ad9f3cba336899b3c5dc3e739211b5d31ad6a624dc893fcc9&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;ae66feb26f06449704284ddab59bb712&quot;</div>
        <div>X-Request-Id: 37a4f40e-cd3f-4fab-b1af-456df28eb4b3</div>
        <div>X-Runtime: 0.130043</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:25:31 GMT</div>
        <div>Content-Type: application/json</div>
</div>


