<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;9484273f54681eab8b7d63542f3d201172afb2ca534ec964ed&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;4c35648e7791fc97fd60919a8d01a28c&quot;</div>
        <div>X-Request-Id: df125d3c-2aac-4c93-b1ee-6fcc92ed899b</div>
        <div>X-Runtime: 0.135107</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:23:45 GMT</div>
        <div>Content-Type: application/json</div>
</div>


