<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;f1fed1a5cf9312b034b6066c5f3c644d7a827612aa1222fa52&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;7faf1ccda907b010673aa5ac99f82a79&quot;</div>
        <div>X-Request-Id: fd8e5a8b-7f0b-4607-a070-0e25de06635e</div>
        <div>X-Runtime: 0.143372</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 13:26:51 GMT</div>
        <div>Content-Type: application/json</div>
</div>


