<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2b4919c4872d25de8b216e083376f322de42fef5411a657a92&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;cc5badf3c42f340c83e011b82569fe00&quot;</div>
        <div>X-Request-Id: 81a270bc-b429-4366-b495-8792512f890e</div>
        <div>X-Runtime: 0.141630</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 13:05:42 GMT</div>
        <div>Content-Type: application/json</div>
</div>


