<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Authorization failed&quot;,
    &quot;code&quot;: &quot;auth_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 744ece97-a27a-4878-b03a-4076f6c99f06</div>
        <div>X-Runtime: 0.099313</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Mon, 10 Sep 2018 11:31:42 GMT</div>
        <div>Content-Type: application/json</div>
</div>


