<div>POST to http://api.betholder.io/v1/transactions</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;wallet_id&quot;: &quot;215&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 0d05b9af87340c79af49c24942a701a556915c0e204cae9160</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/transactions&#39; -H &#39;Authorization: 0d05b9af87340c79af49c24942a701a556915c0e204cae9160&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;wallet_id&quot;: &quot;215&quot;
}&#39;
</div>
