<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;cf1ced48341b325d986cad38806ea516fa9368cfa8809cf992&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c1287438ac79ebbb5405d82e5b650910&quot;</div>
        <div>X-Request-Id: 2d03475d-1580-46df-a1c1-0d0cb66eab51</div>
        <div>X-Runtime: 0.127348</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 11:21:52 GMT</div>
        <div>Content-Type: application/json</div>
</div>


