<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2c9c4b3395fd4997402a879a4212ac08029f70576efb47bf4a&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d7392a41a827338a2b47f727898661b7&quot;</div>
        <div>X-Request-Id: cfbaa00f-ab48-4ccb-afd5-dd8762ac21ff</div>
        <div>X-Runtime: 0.121655</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:06:45 GMT</div>
        <div>Content-Type: application/json</div>
</div>


