<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ed1ffd75d390ba74d34a33ef7054d688faadf21710df36b27a&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d9181c5b1abe02ad85f5cc79d0541509&quot;</div>
        <div>X-Request-Id: 4ed88177-3311-4eb3-9e3e-e7cb9c21b586</div>
        <div>X-Runtime: 0.117676</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:43:48 GMT</div>
        <div>Content-Type: application/json</div>
</div>


