<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;e83cdbaaee697a57517b3805edfee3b42550f7c7a13e70fc61&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;0df7d8cf4cb848af789a20ad43f4deba&quot;</div>
        <div>X-Request-Id: f305bbc6-0ac3-4ba3-b2ef-131c1d389193</div>
        <div>X-Runtime: 0.189823</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 10:45:30 GMT</div>
        <div>Content-Type: application/json</div>
</div>


