<div>Status code 401 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Unauthorized&quot;,
    &quot;code&quot;: &quot;unauthorized_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 7bb2e05a-bff8-4c3b-9316-7592f3639dd7</div>
        <div>X-Runtime: 0.024737</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Wed, 18 Jul 2018 18:22:30 GMT</div>
        <div>Content-Type: application/json</div>
</div>


