<div>POST to http://api.betholder.io/v1/transactions</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;wallet_id&quot;: &quot;215&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 9162bb0b61d09d0110b5754f7ac2accf831c625d4d1f1a1cd6</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/transactions&#39; -H &#39;Authorization: 9162bb0b61d09d0110b5754f7ac2accf831c625d4d1f1a1cd6&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;wallet_id&quot;: &quot;215&quot;
}&#39;
</div>
