<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;9162bb0b61d09d0110b5754f7ac2accf831c625d4d1f1a1cd6&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c6ada631a23378b1b49ceb92dea0817e&quot;</div>
        <div>X-Request-Id: bb657fe3-0e9a-4429-8739-9ee46c5e1b9c</div>
        <div>X-Runtime: 0.171537</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:50:53 GMT</div>
        <div>Content-Type: application/json</div>
</div>


