<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;41e61a97c4baab7f8c2a44fd618e19128b05b35c498d65bad4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;13938dba5a718a3cc289a3396d5feeea&quot;</div>
        <div>X-Request-Id: 3f9b46b1-2218-4409-96c3-0a5d55e888da</div>
        <div>X-Runtime: 0.130952</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:37:09 GMT</div>
        <div>Content-Type: application/json</div>
</div>


