<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;b2e550119245326eb6975a4a8578d427d5a972591280666518&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;faa1f6a104a8260e6abe556fae788f70&quot;</div>
        <div>X-Request-Id: d17fe3e1-55df-4a27-a48e-b82d86865d4d</div>
        <div>X-Runtime: 0.131137</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:13:07 GMT</div>
        <div>Content-Type: application/json</div>
</div>


