<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;a0291e01c7165009fc62e56d00f12d79bea56f253c1f909d0d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8051f45babe333c76c016cfa1bdbec94&quot;</div>
        <div>X-Request-Id: 876c807f-db50-4b11-9099-8149208faf26</div>
        <div>X-Runtime: 0.125710</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:21:29 GMT</div>
        <div>Content-Type: application/json</div>
</div>


