<div>POST to http://api.betholder.io/v1/transactions</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;wallet_id&quot;: 215
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 60d44e84d8cf95164511539b4bdbda6f926e43ac244d3e03e4</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/transactions&#39; -H &#39;Authorization: 60d44e84d8cf95164511539b4bdbda6f926e43ac244d3e03e4&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;wallet_id&quot;: 215
}&#39;
</div>
