<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;da716e897c0bdb896a06fd67b41d325e843b64a65d929ad287&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3aee9706a1341d8241c9d3c90993eb65&quot;</div>
        <div>X-Request-Id: 0e68941d-8423-43e2-999a-fcd2d04815dc</div>
        <div>X-Runtime: 0.109354</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:11:40 GMT</div>
        <div>Content-Type: application/json</div>
</div>


