<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;1e2f321d3405f083c51d3169bae42bf72104035fc4d21aeb0e&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;6cabbac78c4814c012bc7eda8bc30ab5&quot;</div>
        <div>X-Request-Id: 4fbfd723-52ae-4075-8034-c94c96e02acf</div>
        <div>X-Runtime: 0.129486</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Fri, 20 Jul 2018 19:44:48 GMT</div>
        <div>Content-Type: application/json</div>
</div>


