<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;4d2a982e038d7e693b083dc3ad6d8510bda8d54f7c9c635457&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;bd54347fa0a4571b8f9688b5a5602fa8&quot;</div>
        <div>X-Request-Id: b33e2390-a74a-4ce8-b4e1-1df1362e891f</div>
        <div>X-Runtime: 0.165323</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 08:11:59 GMT</div>
        <div>Content-Type: application/json</div>
</div>


