<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 145,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-02 10:44:27 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-02 10:44:27 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;2c8023cfdad039382101bf7ef7b31a38&quot;</div>
        <div>X-Request-Id: 2dc0f0c5-729a-4a6d-8312-5c2ba264bd53</div>
        <div>X-Runtime: 0.045675</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Thu, 02 Aug 2018 10:44:27 GMT</div>
        <div>Content-Type: application/json</div>
</div>


