<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;7011fe7bee56a27b2509bdcc88239918fac4a01bd6922f5e65&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3240d9ce903a87345151345ec71724a1&quot;</div>
        <div>X-Request-Id: cd0d673e-c349-43c7-8ad0-e1bab85f165b</div>
        <div>X-Runtime: 0.178517</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:28:44 GMT</div>
        <div>Content-Type: application/json</div>
</div>


