<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;8063b84ebf7137e30a6078d7c05b55b3374312ca94c331ee52&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;80745655b2cb638c8df216f12aeda481&quot;</div>
        <div>X-Request-Id: 7051952e-4298-4ea4-b1dd-c20d746fa2dd</div>
        <div>X-Runtime: 0.170872</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:00:33 GMT</div>
        <div>Content-Type: application/json</div>
</div>


