<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ae0dd97fa68db84e12fd57ad970ce415733cdc5364dd70225f&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;fc6935b76f02a7cbe7051ea0bf0eda78&quot;</div>
        <div>X-Request-Id: 3e301ce8-c787-4054-9f8f-8873fab5a127</div>
        <div>X-Runtime: 0.158455</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:31:14 GMT</div>
        <div>Content-Type: application/json</div>
</div>


