<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;de439ff40e0c1c40355646845d265618c778528847b74d783d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;90bd9a52f954efb01a2eb727c172c165&quot;</div>
        <div>X-Request-Id: 377a1327-1943-41d6-b394-8ac9d4947e7f</div>
        <div>X-Runtime: 0.157259</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 15:35:16 GMT</div>
        <div>Content-Type: application/json</div>
</div>


