<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;046ff94646850e9b1a2d5a6a2f8d5aacc0739a0392947c50f6&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;72afa636f8602cb588ac50df7c68150e&quot;</div>
        <div>X-Request-Id: 90ef7a2c-9baf-4fe8-9434-c7e7461d3500</div>
        <div>X-Runtime: 0.112622</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:39:52 GMT</div>
        <div>Content-Type: application/json</div>
</div>


