<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 214,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-09-10 11:26:05 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-09-10 11:26:05 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;e6ad7d893a40e37c1b808e2d31d557b2&quot;</div>
        <div>X-Request-Id: 17bcbb54-f14c-4b3a-a97f-c39a2514f1e6</div>
        <div>X-Runtime: 0.038312</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Mon, 10 Sep 2018 11:26:05 GMT</div>
        <div>Content-Type: application/json</div>
</div>


