<div>Status code 404 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    &lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;The page you were looking for doesn&#39;t exist (404)&lt;/title&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,initial-scale=1&quot;/&gt;
    &lt;style&gt;
  .rails-default-error-page {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  .rails-default-error-page div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  .rails-default-error-page div.dialog &amp;gt; div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: white;
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  .rails-default-error-page h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
  }

  .rails-default-error-page div.dialog &amp;gt; p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #DADADA;
    color: #666;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }
  &lt;/style&gt;
  &lt;/head&gt;
  &lt;body class=&quot;rails-default-error-page&quot;&gt;
    &lt;div class=&quot;dialog&quot;&gt;
      &lt;div&gt;
        &lt;h1&gt;The page you were looking for doesn&#39;t exist.&lt;/h1&gt;
        &lt;p&gt;You may have mistyped the address or the page may have moved.&lt;/p&gt;
      &lt;/div&gt;
      &lt;p&gt;If you are the application owner check the logs for more information.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Transfer-Encoding: chunked</div>
        <div>Server: nginx/1.10.3</div>
        <div>X-Request-Id: 98a41e19-e165-4d7e-8a97-c9bedaaa9c51</div>
        <div>X-Runtime: 0.002272</div>
        <div>Connection: keep-alive</div>
        <div>Content-Encoding: gzip</div>
        <div>Date: Wed, 18 Jul 2018 19:28:39 GMT</div>
        <div>Content-Type: text/html; charset=UTF-8</div>
</div>


