<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;bc87e07f119530de5c6d95e1748c49a35ff72a0e4e1491793d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;073b0fcf8aad6f2c5a5ec7d441dbf7ea&quot;</div>
        <div>X-Request-Id: b5d06a28-69b7-4f27-9bb0-6a966a24a31d</div>
        <div>X-Runtime: 0.156105</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:06:32 GMT</div>
        <div>Content-Type: application/json</div>
</div>


