<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;e7c05d68ea9309d22d57819f4f2dbe6f5bf017deee36f43b28&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c740c363c5997136c4cfeb476773de91&quot;</div>
        <div>X-Request-Id: b2fc0046-75f7-42b9-9602-9c473f0d66f2</div>
        <div>X-Runtime: 0.127011</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 23 Jul 2018 19:08:27 GMT</div>
        <div>Content-Type: application/json</div>
</div>


