<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;545751dbb74294ae77850abf007798b84edc9f5d5c1581a2d1&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3b2167ea4bbfe8ed9402f8cf4c812360&quot;</div>
        <div>X-Request-Id: 3fbeb6bd-52b9-47a7-90ef-7eabc807d9a0</div>
        <div>X-Runtime: 0.218835</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 15:36:05 GMT</div>
        <div>Content-Type: application/json</div>
</div>


