<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;eabebef212aa07dc97469f0ea0dc0a3bcf426af6f556efc1b0&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;78cbc1a8187f5c48c219fc7432c261c6&quot;</div>
        <div>X-Request-Id: 84f2d21f-a8e0-41a9-a356-79e00bb8261b</div>
        <div>X-Runtime: 0.129650</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Fri, 20 Jul 2018 19:47:53 GMT</div>
        <div>Content-Type: application/json</div>
</div>


