<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;e85b683d8914edfbb0bd8050b4af8218356bf9e38ce2ecf713&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;ec0044229b6314ea4fcc5d4d79d68379&quot;</div>
        <div>X-Request-Id: f71e890b-532d-4a0d-8256-db7ac2c0840d</div>
        <div>X-Runtime: 0.138331</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:31:07 GMT</div>
        <div>Content-Type: application/json</div>
</div>


