<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;04f2026d2fe9aabdcce4272707d18f843409f3226168fb2abe&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;6f4965146931b680ac12e08628157caf&quot;</div>
        <div>X-Request-Id: dd6b1048-9f41-4196-9267-c1a8c5b4ec55</div>
        <div>X-Runtime: 0.114101</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:35:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


