<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;95b25579f5d7e60f0a8aa0154c0d8f8921acda82b1e79d85d7&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c58e0b8840b98fcb52314b20f95e4b90&quot;</div>
        <div>X-Request-Id: c6b3a7bd-fcc0-42df-8489-9ef0cf132029</div>
        <div>X-Runtime: 0.118522</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:53:09 GMT</div>
        <div>Content-Type: application/json</div>
</div>


