<div>POST to http://api.betholder.io/v1/wallets32dbb9802bc646af33a6d69fea4f4cb95ddc06c3bdb53d2e3c</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;address&quot;: &quot;0x31ed1bc96FA75Ee33d513A0CeF4b65c2500b320b&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/wallets32dbb9802bc646af33a6d69fea4f4cb95ddc06c3bdb53d2e3c&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;address&quot;: &quot;0x31ed1bc96FA75Ee33d513A0CeF4b65c2500b320b&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}&#39;
</div>
