<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 147,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-02 13:05:42 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-02 13:05:42 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;e844430e7780a1892f105c0dcb8ee668&quot;</div>
        <div>X-Request-Id: d500f1ca-5087-4edd-947e-7eec0232b270</div>
        <div>X-Runtime: 0.057670</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Thu, 02 Aug 2018 13:05:42 GMT</div>
        <div>Content-Type: application/json</div>
</div>


