<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ccc7ee0c01568a64ab5660fc1aab5cbc16639374448f6a9db2&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f639bc0b616b92ad5b9c5be93b4cdab6&quot;</div>
        <div>X-Request-Id: 0707bc34-923e-4271-95cd-2cedb635ef9c</div>
        <div>X-Runtime: 0.137720</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 11:16:37 GMT</div>
        <div>Content-Type: application/json</div>
</div>


