<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;0d05b9af87340c79af49c24942a701a556915c0e204cae9160&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;17dbd561c14dd416533d439bf03ec3b8&quot;</div>
        <div>X-Request-Id: 58b2ea6c-b5ac-4c6e-b2b7-fc314b823204</div>
        <div>X-Runtime: 0.140214</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:28:51 GMT</div>
        <div>Content-Type: application/json</div>
</div>


