<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2384364a8e871b0543f1646032eb0048c940c8bd6dd3ebe574&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d7a5b2104f77109f0fbfd1d3e2801671&quot;</div>
        <div>X-Request-Id: 0786ab41-0c62-45b6-bcdd-a6de4af0db3c</div>
        <div>X-Runtime: 0.134958</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 13:03:05 GMT</div>
        <div>Content-Type: application/json</div>
</div>


