<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c941629438d00bc22c5328cd6044ab86a29c00e65d851e4ac3&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b6c50c21a7fd5dca9c5b38fb453aa8d0&quot;</div>
        <div>X-Request-Id: dff1321b-f8ff-49e6-ba17-e8e4db1b397c</div>
        <div>X-Runtime: 0.119994</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:13:07 GMT</div>
        <div>Content-Type: application/json</div>
</div>


