<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;1afa7c0c5173971195d8f5ab6c57699ed9b2d62275571c5cf1&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;a333b6b499bb4ed838357e1e9ce712bb&quot;</div>
        <div>X-Request-Id: fce3d877-77ed-40de-90b4-2ea893a0a55a</div>
        <div>X-Runtime: 0.133688</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:13:06 GMT</div>
        <div>Content-Type: application/json</div>
</div>


