<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ec4ad4ae44a3d2f53d0ee13f33e971071f5a18a000fd48ded4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1b208448ea96265fcbad77aecbcca54f&quot;</div>
        <div>X-Request-Id: 5a45cd61-af0c-4035-9e3d-0e927c167e20</div>
        <div>X-Runtime: 0.143758</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 06 Aug 2018 07:24:34 GMT</div>
        <div>Content-Type: application/json</div>
</div>


