<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;1ecaa74ae781064905b907a1212a0bee1a7e6a8506333cd8ea&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3a80ac20af3a1d6469b1c7367892d7a0&quot;</div>
        <div>X-Request-Id: 433830f5-8cb4-4f8a-bd23-a8beeef9b5f1</div>
        <div>X-Runtime: 0.195723</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 10:30:04 GMT</div>
        <div>Content-Type: application/json</div>
</div>


