<div>POST to http://api.betholder.io/v1/transactions</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;wallet_id&quot;: &quot;215&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 95b25579f5d7e60f0a8aa0154c0d8f8921acda82b1e79d85d7</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/transactions&#39; -H &#39;Authorization: 95b25579f5d7e60f0a8aa0154c0d8f8921acda82b1e79d85d7&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;wallet_id&quot;: &quot;215&quot;
}&#39;
</div>
