<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Wallet already exists&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 2922b59e-c46e-4672-9ae8-c54b46918969</div>
        <div>X-Runtime: 0.030829</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 59</div>
        <div>Date: Sat, 21 Jul 2018 07:52:28 GMT</div>
        <div>Content-Type: application/json</div>
</div>


