<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;499e4170319f21789a5707386bd8d40e12c13f184a60709ba1&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;779eece4f2ab14b4186eac0253487611&quot;</div>
        <div>X-Request-Id: 8dbf2577-effb-4e9c-bc15-c90a7c26dac5</div>
        <div>X-Runtime: 0.129285</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:58:20 GMT</div>
        <div>Content-Type: application/json</div>
</div>


