<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 70,
    &quot;name&quot;: &quot;Wallet #5&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x4540FcF016bCB67290C3E14238702C64e6a51222&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-07-18 19:34:07 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-07-18 19:34:07 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;27cc39e2b9185e93619435d3cf420ca5&quot;</div>
        <div>X-Request-Id: 541b497e-b7e3-4886-8017-e3c8c5aa076e</div>
        <div>X-Runtime: 0.073085</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 196</div>
        <div>Date: Wed, 18 Jul 2018 19:34:07 GMT</div>
        <div>Content-Type: application/json</div>
</div>


