<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 140,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-02 07:11:27 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-02 07:11:27 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;2c452416674d2c528be3630c1926b07e&quot;</div>
        <div>X-Request-Id: 8d5a47b8-767a-4346-994b-1661e6c49155</div>
        <div>X-Runtime: 0.038837</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Thu, 02 Aug 2018 07:11:27 GMT</div>
        <div>Content-Type: application/json</div>
</div>


