<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;110b3f344a6bd435a098ec3a9c96bdb88b49053c4cb528fdc8&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;62f550b52b0489bf46176a6a540f8718&quot;</div>
        <div>X-Request-Id: e5377449-61bb-4017-b118-77f1a6fc2edc</div>
        <div>X-Runtime: 0.141367</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:25:08 GMT</div>
        <div>Content-Type: application/json</div>
</div>


