<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;986d5a019b15ec373449d398d70206236d4975a9bed10a930f&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;0e2107e8da60004d29f8e0376d046e30&quot;</div>
        <div>X-Request-Id: 491ab116-f897-40f3-b42b-9ec74efb9672</div>
        <div>X-Runtime: 0.222701</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:21:30 GMT</div>
        <div>Content-Type: application/json</div>
</div>


