<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;da4b0a3a98424a5f9311b66731962561ec2acce20f9d13da31&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;cc619729c59dd701c8f525d009e9cabe&quot;</div>
        <div>X-Request-Id: 30c5ef67-b1a7-4b0d-a17a-43ea58eaa40a</div>
        <div>X-Runtime: 0.141113</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:33:00 GMT</div>
        <div>Content-Type: application/json</div>
</div>


