<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;820826d814f15e343fe4482c35d869024185cf33a8b0236d31&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;998d07fa92da83c23c38e6571b041c39&quot;</div>
        <div>X-Request-Id: aff298b9-5e81-4151-8609-9ca11aea4409</div>
        <div>X-Runtime: 0.181786</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:55:57 GMT</div>
        <div>Content-Type: application/json</div>
</div>


