<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ff08c790f5daeecf109acd0662f82d3c90c17a165027b9bb04&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;109d57721d254a8b9287a7e021fbee8a&quot;</div>
        <div>X-Request-Id: 0518ac28-fa44-4f23-bd01-54d5cd28c2f9</div>
        <div>X-Runtime: 0.176040</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 15:14:27 GMT</div>
        <div>Content-Type: application/json</div>
</div>


