<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Authorization failed&quot;,
    &quot;code&quot;: &quot;auth_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 476202f3-5d7d-474a-8b65-6f607968eeae</div>
        <div>X-Runtime: 0.037184</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Mon, 06 Aug 2018 07:24:33 GMT</div>
        <div>Content-Type: application/json</div>
</div>


