<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;abc5cc90b9a32b84204bd12c6954cf9bd01883e8e65a1e5cfc&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;4bb26e8b5d8ea58612cd6563c45c9584&quot;</div>
        <div>X-Request-Id: 6b1d55c1-65a9-4c3f-8a0d-10dc5f83a46d</div>
        <div>X-Runtime: 0.156166</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:11:26 GMT</div>
        <div>Content-Type: application/json</div>
</div>


