<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;60d44e84d8cf95164511539b4bdbda6f926e43ac244d3e03e4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;47d18cd3ecfc57830055900b4da7c682&quot;</div>
        <div>X-Request-Id: 64c2cce4-bf76-45ae-8732-7775c145ff40</div>
        <div>X-Runtime: 0.146915</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:33:00 GMT</div>
        <div>Content-Type: application/json</div>
</div>


