<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 143,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-02 07:21:30 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-02 07:21:30 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f2eb96bf5d4a235a721d277e2152e611&quot;</div>
        <div>X-Request-Id: 959100ea-d84f-417d-ab16-621f3927259f</div>
        <div>X-Runtime: 0.061612</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Thu, 02 Aug 2018 07:21:30 GMT</div>
        <div>Content-Type: application/json</div>
</div>


