<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;7c9616ca2a6598fd05f2e157343a17316954acaadf8115fd72&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;78d33d69d64cd1a3aac137f295db067a&quot;</div>
        <div>X-Request-Id: b710b83b-0020-445b-99c4-d69d00db1819</div>
        <div>X-Runtime: 0.126856</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Fri, 20 Jul 2018 19:51:29 GMT</div>
        <div>Content-Type: application/json</div>
</div>


