<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;590ed0299ba5ac44b8594859c9201bc770689f3a0756c2295a&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b36b74b68107da38060a48257419ae0a&quot;</div>
        <div>X-Request-Id: 882d2fd2-377b-41f9-91c8-336396c87b64</div>
        <div>X-Runtime: 0.113998</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:38:17 GMT</div>
        <div>Content-Type: application/json</div>
</div>


