<div>POST to http://35.231.203.193/register</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;password&quot;: &quot;test123&quot;,
    &quot;email&quot;: &quot;test123@test.com&quot;,
    &quot;username&quot;: &quot;test123&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://35.231.203.193/register&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;password&quot;: &quot;test123&quot;,
    &quot;email&quot;: &quot;test123@test.com&quot;,
    &quot;username&quot;: &quot;test123&quot;
}&#39;
</div>
