<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;9743b23efcdea1c91408ef68142aca81af5b9d362547af966a&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;14f42977b046a3e7d4a5b84995b3216b&quot;</div>
        <div>X-Request-Id: b7c4bd1c-30ae-40f2-bace-dc34fb8ab8fd</div>
        <div>X-Runtime: 0.121621</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 10:44:26 GMT</div>
        <div>Content-Type: application/json</div>
</div>


