<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;77cbb4f163edd61aa146e2e95065b22c380df1834400630cc5&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d8468a65cf2fec6564de6c580636a64f&quot;</div>
        <div>X-Request-Id: 98cc4a1a-3ed7-4096-93f4-5118ed8d8681</div>
        <div>X-Runtime: 0.154235</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 13:01:29 GMT</div>
        <div>Content-Type: application/json</div>
</div>


