<div>POST to http://api.betholder.io/v1/transactions</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;wallet_id&quot;: &quot;215&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Accept: */*</div>
        <div>api_key: 6993a7064417d79c953e367463aff97d0c48e9c69706f40dbd</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/transactions&#39; -H &#39;Accept: */*&#39; -H &#39;api_key: 6993a7064417d79c953e367463aff97d0c48e9c69706f40dbd&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;wallet_id&quot;: &quot;215&quot;
}&#39;
</div>
