<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c9559c1958e7319bd40c30dc9b8483e1d0eec26e77598965f9&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;9a815218dd491b77d853356ac12e2056&quot;</div>
        <div>X-Request-Id: 5ad20c23-6098-4c72-9004-dbbd9e9b5507</div>
        <div>X-Runtime: 0.146588</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:57:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


