<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;efc36aa824cd6779b25e66746811c721e7cc12d69f553fe827&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;eeb5ef059e9b9cf9251c89acb82c026e&quot;</div>
        <div>X-Request-Id: 835d1cf3-92e9-4f83-bb84-0658f0032dca</div>
        <div>X-Runtime: 0.112653</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:08:43 GMT</div>
        <div>Content-Type: application/json</div>
</div>


