<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c9efd4c7c68a8b7cf53797b88b6a1341de314b3793a4aa0472&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;741c00ea357d8991b3647f8f146d15a0&quot;</div>
        <div>X-Request-Id: 91de1fd1-f4ff-4ab9-9438-ef7e30e73320</div>
        <div>X-Runtime: 0.153345</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 13:05:41 GMT</div>
        <div>Content-Type: application/json</div>
</div>


