<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 117,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-07-23 19:08:51 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-07-23 19:08:51 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d7e3c24504edb7d26c2e6b10be08328e&quot;</div>
        <div>X-Request-Id: c43ff102-308e-42cd-8ea0-00d7f72a0b3d</div>
        <div>X-Runtime: 0.037307</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Mon, 23 Jul 2018 19:08:51 GMT</div>
        <div>Content-Type: application/json</div>
</div>


