<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Wallet already exists&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: d47df1ef-ccec-4984-b813-6d7c47c9b81a</div>
        <div>X-Runtime: 0.052989</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 59</div>
        <div>Date: Sat, 21 Jul 2018 07:53:41 GMT</div>
        <div>Content-Type: application/json</div>
</div>


