<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;262601e51579b7b41398a755ebb752deac5ab237ae691a4c9b&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1b7e1750519030a9d74db42f12489563&quot;</div>
        <div>X-Request-Id: e09dbe52-ada6-4ad8-ba40-e84b4907fba0</div>
        <div>X-Runtime: 0.140359</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:11:25 GMT</div>
        <div>Content-Type: application/json</div>
</div>


