<div>POST to http://api.betholder.io/v1/users/wallets</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;address&quot;: &quot;0x4540FcF016bCB67290C3E14238702C64e6a51600&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 77dd9916bf7fc4333ed0395b6e84a12939019dba70755794f2</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/users/wallets&#39; -H &#39;Authorization: 77dd9916bf7fc4333ed0395b6e84a12939019dba70755794f2&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;address&quot;: &quot;0x4540FcF016bCB67290C3E14238702C64e6a51600&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}&#39;
</div>
