<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;6993a7064417d79c953e367463aff97d0c48e9c69706f40dbd&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d215dddb5ae02d51ef558e99230b371a&quot;</div>
        <div>X-Request-Id: b8fad67a-e976-4ddf-b452-dc5cdc143657</div>
        <div>X-Runtime: 0.153664</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:27:06 GMT</div>
        <div>Content-Type: application/json</div>
</div>


