<div>Status code 500 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Internal server error&quot;,
    &quot;code&quot;: &quot;server_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 06d8232b-2a0e-4329-aec3-9e3a66b8b466</div>
        <div>X-Runtime: 0.029383</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 55</div>
        <div>Date: Mon, 10 Sep 2018 12:48:33 GMT</div>
        <div>Content-Type: application/json</div>
</div>


