<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;889abe563bd19ca4c70a04b1800a9fb9976419ba345ab5f4e7&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c986561dd206cc5c18370cad1e75f3b4&quot;</div>
        <div>X-Request-Id: bd7cf513-2d13-43bb-b2d0-a300095e22e8</div>
        <div>X-Runtime: 0.144441</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 11:26:04 GMT</div>
        <div>Content-Type: application/json</div>
</div>


