<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2bce7039f276583b43978542589cc40bab6780fb315203aec6&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c7055ce51d3230814b2e92da99557bda&quot;</div>
        <div>X-Request-Id: 362ae81b-7f89-4d2a-884f-6c15b6b15f9c</div>
        <div>X-Runtime: 0.131861</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:54:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


