<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ec47cbf08ba60a8bee73df2bcfecb7ce9c9442b695983239ea&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f928907f34524cc3efbb827a1631323a&quot;</div>
        <div>X-Request-Id: fe201839-dce6-4d24-a48e-4ea7ea6f4ed7</div>
        <div>X-Runtime: 0.124632</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Fri, 20 Jul 2018 20:24:20 GMT</div>
        <div>Content-Type: application/json</div>
</div>


