<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Authorization failed&quot;,
    &quot;code&quot;: &quot;auth_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 053007c5-4422-4f46-864d-3064369c8d22</div>
        <div>X-Runtime: 0.092355</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Thu, 02 Aug 2018 13:27:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


