<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;594e66e895f4791dde6535b5d758b34cb567aafd2ff39d5880&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8cbb9a6f24ea3f025c638a4aea25197b&quot;</div>
        <div>X-Request-Id: 555c37d2-c065-486c-b60e-007f465e577a</div>
        <div>X-Runtime: 0.198283</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 10:36:48 GMT</div>
        <div>Content-Type: application/json</div>
</div>


