<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;aac1e823253d4e0ad03ac1766fa75bbdf6bd3db5cd19bf68ae&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;304484610b29673d617e917276fedd0a&quot;</div>
        <div>X-Request-Id: f4a4e4ee-750a-4d26-9685-c4efcdc3d227</div>
        <div>X-Runtime: 0.167792</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 10 Sep 2018 12:27:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


