<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Email has already been taken&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: f8629633-1380-4332-80c9-c9690e7466f6</div>
        <div>X-Runtime: 0.007980</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 66</div>
        <div>Date: Thu, 02 Aug 2018 07:11:40 GMT</div>
        <div>Content-Type: application/json</div>
</div>


