<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;6d919068cdb0f6107feba50313938294eb59ee469053503c10&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1e5541d9929f8b6257d3a7236b876c87&quot;</div>
        <div>X-Request-Id: 23b3de4f-1e1f-41eb-9608-ba9cdce6e749</div>
        <div>X-Runtime: 0.127202</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 15:36:49 GMT</div>
        <div>Content-Type: application/json</div>
</div>


