<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;0b9d2e0f9df50807fcdecc2b405f040ea57f927b9e325f40f3&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;0cc2a1bc79c6dd466eac48c55c18c679&quot;</div>
        <div>X-Request-Id: 59208d9e-705e-405a-abcf-468039736559</div>
        <div>X-Runtime: 0.108723</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:39:35 GMT</div>
        <div>Content-Type: application/json</div>
</div>


