<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;19a0564f188e8196dc990c89571533c52032069c0ee67c484d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c19ce49a5e9a8660bb463e48210234e4&quot;</div>
        <div>X-Request-Id: 987bba59-8a51-4324-b33a-723f9a6a6b6b</div>
        <div>X-Runtime: 0.169739</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 06 Aug 2018 10:44:30 GMT</div>
        <div>Content-Type: application/json</div>
</div>


