<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;cd781f38e75d73e002a865092c3f3548ff6c5d332d9a5bb913&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;857017ac1c1b537c25e4d3c1e1945072&quot;</div>
        <div>X-Request-Id: 1b332a62-24f7-4c64-926c-a207f80efae6</div>
        <div>X-Runtime: 0.127258</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:45:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


