<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;3b7ea4f48c3b399373e75f44d18effeda7f4a8b681561a8d86&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;af559a70135a014978d7e7fe21261d99&quot;</div>
        <div>X-Request-Id: d62843e7-ab48-4c58-b582-00405e3098eb</div>
        <div>X-Runtime: 0.120152</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 08:11:58 GMT</div>
        <div>Content-Type: application/json</div>
</div>


