<div>DELETE to http://bullboard.dmosrv.com/v1/users/logout</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;address&quot;: &quot;41700283a86045c86c34d73791787efac704fa846f189c8993&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X DELETE &#39;http://bullboard.dmosrv.com/v1/users/logout&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;address&quot;: &quot;41700283a86045c86c34d73791787efac704fa846f189c8993&quot;
}&#39;
</div>
