<div>Status code 401 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Unauthorized&quot;,
    &quot;code&quot;: &quot;unauthorized_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 31ae4610-ea6b-4377-a10f-5739fbcccd1c</div>
        <div>X-Runtime: 0.006735</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Mon, 06 Aug 2018 12:13:54 GMT</div>
        <div>Content-Type: application/json</div>
</div>


