<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;0b5332d46edfc0eb1da9548d135ca5ace2a8655ff784f0d70d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f1193b1cb4f9a42598475328bd92d68d&quot;</div>
        <div>X-Request-Id: 8a184f78-9b37-4400-83ac-ce71dcef02bd</div>
        <div>X-Runtime: 0.132688</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: mkt</div>
        <div>Date: Mon, 10 Sep 2018 13:34:46 GMT</div>
        <div>Content-Type: application/json</div>
</div>


