<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;dfbd8f1d6fc03ad0a2b4c1b2ff1839a3d4c182f16cb4cb1db5&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;ad24e48fd360562b54e2777e662fdee4&quot;</div>
        <div>X-Request-Id: 58c3e723-eec6-49bc-ac29-6bd72e09f05d</div>
        <div>X-Runtime: 1.593100</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:21:36 GMT</div>
        <div>Content-Type: application/json</div>
</div>


