<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2417a66aa959eaec1695ba7cb0b6165a2db1fb63b4a9c954df&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;841c92b7df62708ad608ecdd2fa5f3b8&quot;</div>
        <div>X-Request-Id: ddef7c18-27c8-44f5-979d-7c0f9015fb6c</div>
        <div>X-Runtime: 0.788633</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 10:51:09 GMT</div>
        <div>Content-Type: application/json</div>
</div>


