<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;72371307e9347a0b856cccb07e6383142500f0f5b32cf6b38f&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8a2c151d1064ff9fe64b55d236fdc2d3&quot;</div>
        <div>X-Request-Id: 9e03e6c9-2bd9-4e76-9d88-c935270a93fe</div>
        <div>X-Runtime: 0.117270</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Fri, 20 Jul 2018 19:51:52 GMT</div>
        <div>Content-Type: application/json</div>
</div>


