<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;d78d09d7dfb9d94c6880f5f1e81f1ac93e9a4417ae73660837&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;83c585d0eb96016b295e85b3f288fad3&quot;</div>
        <div>X-Request-Id: 1fe50868-59fb-4d6a-a53f-07e2e622d7cb</div>
        <div>X-Runtime: 0.125534</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:05:21 GMT</div>
        <div>Content-Type: application/json</div>
</div>


