<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;4f13f08711335bcad497e5c6fd581cd75457b9aa1477e46ddc&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;819bf90dd261bd9a5da6986253520458&quot;</div>
        <div>X-Request-Id: 6699f45c-47b1-41bb-afbd-761bf390a3e4</div>
        <div>X-Runtime: 0.157150</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 10:44:25 GMT</div>
        <div>Content-Type: application/json</div>
</div>


