<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;The specified address does not exist&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: a29a07db-495a-4d2f-9c46-ca08f1fa0c51</div>
        <div>X-Runtime: 0.025126</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 74</div>
        <div>Date: Wed, 18 Jul 2018 19:32:21 GMT</div>
        <div>Content-Type: application/json</div>
</div>


