<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;a4ef664b9c3c65e395b89cb4749074512e1282d3b30929bab7&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;21ca2896054ce9b2e93519790001005b&quot;</div>
        <div>X-Request-Id: 7f15f3b1-b4ca-4c09-8bdb-ea13ba484dbf</div>
        <div>X-Runtime: 0.122063</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 23 Jul 2018 19:08:26 GMT</div>
        <div>Content-Type: application/json</div>
</div>


