<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;1348efc4f640b5198bb1dce971359459d68adf05c2bbbf8972&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;ba70bcd4beadcc8dbf3b8405035235e2&quot;</div>
        <div>X-Request-Id: af504ac5-50c0-4d43-8ec1-c8b64ecb25d0</div>
        <div>X-Runtime: 0.430648</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:10:56 GMT</div>
        <div>Content-Type: application/json</div>
</div>


