<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;d3d8bcfbe12ad7dcb5347bc040a93b3ad188772042a3a17218&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1b141587979f6050a19c09b5fc0d3151&quot;</div>
        <div>X-Request-Id: befdb9d3-682f-4a8d-808b-7f3cc2e68b07</div>
        <div>X-Runtime: 0.123994</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 10:44:59 GMT</div>
        <div>Content-Type: application/json</div>
</div>


