<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;97b77b8c50e162bf763aee3326992dcf633f555e6e01ac6a55&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;49fd9ea93aa66b90ceaf315dd5b33279&quot;</div>
        <div>X-Request-Id: 57aaa400-d862-4437-8219-141975aaee2a</div>
        <div>X-Runtime: 0.131466</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:35:44 GMT</div>
        <div>Content-Type: application/json</div>
</div>


