<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;595eb43dae9adadfd4cb944e816e697efdb9bf37de8a01b9c6&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1fec0bc24a52cb7782317b75946fe732&quot;</div>
        <div>X-Request-Id: f2fbb707-369f-4e25-8a52-589d42d62519</div>
        <div>X-Runtime: 0.198441</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:34:18 GMT</div>
        <div>Content-Type: application/json</div>
</div>


