<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2a74f99cbe02e667d04cc3d5247094ebea46ebfb6c6cdacafd&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;63354ce9b6de12362f73a09199283c89&quot;</div>
        <div>X-Request-Id: bb3b41f2-404f-465e-ba88-1b074f8f8ca7</div>
        <div>X-Runtime: 0.583756</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:23:15 GMT</div>
        <div>Content-Type: application/json</div>
</div>


