<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 144,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-02 07:28:45 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-02 07:28:45 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;9369b9af7b48bdf21a91ba0e4e2e2e41&quot;</div>
        <div>X-Request-Id: ed6683a1-8d40-4282-ac9b-ab47b5acedda</div>
        <div>X-Runtime: 0.049901</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Thu, 02 Aug 2018 07:28:45 GMT</div>
        <div>Content-Type: application/json</div>
</div>


