<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;6e5e6f60b7a7b363893494b6d4be5368d75e9c7e75a7f7a08d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8dea17668369880cdb656747cc1f836b&quot;</div>
        <div>X-Request-Id: a9b9d8e5-0e04-4234-928b-8f7d5c21cc25</div>
        <div>X-Runtime: 0.174593</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:24:10 GMT</div>
        <div>Content-Type: application/json</div>
</div>


