<div>DELETE to http://bullboard.dmosrv.com/v1/users/logout</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;password&quot;: &quot;test&quot;,
    &quot;device_identifier&quot;: &quot;test&quot;,
    &quot;name&quot;: &quot;test&quot;,
    &quot;device_platform&quot;: &quot;ios&quot;,
    &quot;email&quot;: &quot;superusermobileqatest@qa.com&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: b59952caf631f19023132a54aeb53f1bbefe645a265b8b3476</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X DELETE &#39;http://bullboard.dmosrv.com/v1/users/logout&#39; -H &#39;Authorization: b59952caf631f19023132a54aeb53f1bbefe645a265b8b3476&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;password&quot;: &quot;test&quot;,
    &quot;device_identifier&quot;: &quot;test&quot;,
    &quot;name&quot;: &quot;test&quot;,
    &quot;device_platform&quot;: &quot;ios&quot;,
    &quot;email&quot;: &quot;superusermobileqatest@qa.com&quot;
}&#39;
</div>
