<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c1832e577424423076d1a40a893f7c66b4a68ef20c965d9523&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b61a33703a1e25f46df6ab8126f0eb21&quot;</div>
        <div>X-Request-Id: 98af15d9-0586-43a0-b218-f8e6d3d760b3</div>
        <div>X-Runtime: 0.149703</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 06 Aug 2018 10:44:31 GMT</div>
        <div>Content-Type: application/json</div>
</div>


