<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;d81f3483d2ec31a49e24490d52ab773d2fbcfa97b924a01ef6&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;fa0da5431e8e01a17811bdf8f4eabeeb&quot;</div>
        <div>X-Request-Id: c34504fc-5341-43be-8f97-f2878be7c43b</div>
        <div>X-Runtime: 0.130214</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 13:05:41 GMT</div>
        <div>Content-Type: application/json</div>
</div>


