<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;726c8d1f76ed9db5ef5d376f29675666a5ea49198cd7b7bcb4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d62b6807912451c9d99e1ed557ba964c&quot;</div>
        <div>X-Request-Id: ef4b0d72-d1a8-4d77-8205-873553b39b8e</div>
        <div>X-Runtime: 0.183981</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Sat, 21 Jul 2018 07:49:11 GMT</div>
        <div>Content-Type: application/json</div>
</div>


