<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;825fd58733138823cab49b1510c3980cbf5671e767127757f1&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;fcea4ed9f2931283f3b63d6ad61dad7f&quot;</div>
        <div>X-Request-Id: 8adca852-1408-4033-8101-cc07197de46c</div>
        <div>X-Runtime: 0.117370</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:11:39 GMT</div>
        <div>Content-Type: application/json</div>
</div>


