<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 96,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-07-21 08:00:16 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-07-21 08:00:16 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8cdb57e6235adb23d3f7cb01ebdd4789&quot;</div>
        <div>X-Request-Id: f80ed672-56b6-4bee-801f-8e3f1900970a</div>
        <div>X-Runtime: 0.121255</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 196</div>
        <div>Date: Sat, 21 Jul 2018 08:00:16 GMT</div>
        <div>Content-Type: application/json</div>
</div>


