<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;a327f516080def52fedeaf0b57760ad600cb034f48e5aa5c04&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3b6210d00c285e3404e2069db0df1205&quot;</div>
        <div>X-Request-Id: c2dbf76f-c0ae-4416-9c18-f918ad949bce</div>
        <div>X-Runtime: 0.129263</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:34:25 GMT</div>
        <div>Content-Type: application/json</div>
</div>


