<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;3deb6898f6a8529c2b47118c3228ffa0f465396dc3d55fa6aa&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;50d98db45f2b33a1b0d2afd6dd0696e4&quot;</div>
        <div>X-Request-Id: 2687439b-d8a8-4e65-8666-1d3833b9fded</div>
        <div>X-Runtime: 0.111269</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:52:53 GMT</div>
        <div>Content-Type: application/json</div>
</div>


