<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;e7f143edb48eb9dd47d94fd7bb1598792e6f6351051e6d8ca6&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;a132b6ea185188172b74cb51fadd7676&quot;</div>
        <div>X-Request-Id: 6a484310-3f25-410f-91b4-0c7cd7e6267d</div>
        <div>X-Runtime: 0.191212</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:11:26 GMT</div>
        <div>Content-Type: application/json</div>
</div>


