<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;cf677f9e1de5b3dacd54164d49567f14a946957ea61fd0ab13&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;28dfdde9619d5c540461cd14f7bd0ec0&quot;</div>
        <div>X-Request-Id: 564ef6af-b800-4960-bcd2-640d8dc3754a</div>
        <div>X-Runtime: 0.133782</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 15:35:31 GMT</div>
        <div>Content-Type: application/json</div>
</div>


