<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2eb3e699f6b50562ad05a0ccc52a39cd84029335c3683eb76e&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;267b3b401df47e0b47565631fc7aa771&quot;</div>
        <div>X-Request-Id: 24606eec-885e-49b6-bc7b-9db884b3031f</div>
        <div>X-Runtime: 2.252314</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: mkt</div>
        <div>Date: Mon, 10 Sep 2018 13:35:12 GMT</div>
        <div>Content-Type: application/json</div>
</div>


