<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 93,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-07-21 07:51:54 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-07-21 07:51:54 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8d73de15c5dc0475e7fe89f8d9c191db&quot;</div>
        <div>X-Request-Id: 0e1332e3-3e10-4155-94c5-7236aabbe107</div>
        <div>X-Runtime: 0.201630</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 196</div>
        <div>Date: Sat, 21 Jul 2018 07:51:54 GMT</div>
        <div>Content-Type: application/json</div>
</div>


