<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2822b49eb5e5281de06b794896dd271ab57eac6069d9f70621&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3ad45b15d9d6b6100ae96b0d9e77eba0&quot;</div>
        <div>X-Request-Id: 7300eca8-7dcd-4f4a-b594-1a0479d124f0</div>
        <div>X-Runtime: 0.901765</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:30:55 GMT</div>
        <div>Content-Type: application/json</div>
</div>


