<div>Status code 401 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Unauthorized&quot;,
    &quot;code&quot;: &quot;unauthorized_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: ad64affc-3a10-4ba4-9485-063f28ed9a33</div>
        <div>X-Runtime: 0.005032</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Wed, 18 Jul 2018 18:43:49 GMT</div>
        <div>Content-Type: application/json</div>
</div>


