<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;dd15d1fe6a3f157f7f0a45d390f0bbf0aca4e607e2c310d8a6&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1461244dc20232557e1f141dae31b4ed&quot;</div>
        <div>X-Request-Id: b95c65cd-2e74-4bb2-bdb4-79cb058edef0</div>
        <div>X-Runtime: 0.136544</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:28:45 GMT</div>
        <div>Content-Type: application/json</div>
</div>


