<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 151,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-06 10:44:31 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-06 10:44:31 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;fe05c6b3d4ae31c3ffecb0e876d5e66c&quot;</div>
        <div>X-Request-Id: 76ec9e9c-c02b-4492-a49c-e8259115fc8d</div>
        <div>X-Runtime: 0.064600</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Mon, 06 Aug 2018 10:44:31 GMT</div>
        <div>Content-Type: application/json</div>
</div>


