<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;8293e33494da91ca00d0439eadd7b6443994490220f4ff3308&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;233d36dcd3a1d71319a4a90d63b8d16d&quot;</div>
        <div>X-Request-Id: 701bbb37-b25f-4f69-a181-7d534e55b4d9</div>
        <div>X-Runtime: 0.790449</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:29:14 GMT</div>
        <div>Content-Type: application/json</div>
</div>


