<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;9866efe230c2a8a35052e9d8552e5aacfe8d19e0351b0fc03d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;2e8a237ef90f6906ceff66a846311139&quot;</div>
        <div>X-Request-Id: 80c0e0c2-cf6b-4825-a0a8-713d571dcb27</div>
        <div>X-Runtime: 0.134036</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 23 Jul 2018 19:08:48 GMT</div>
        <div>Content-Type: application/json</div>
</div>


