<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;1ea02b8d1c87280b66f8cb5bedd03332466bdfb141b97ffe5d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;a53d81eb9ba48c6c2e2223eeb83567ce&quot;</div>
        <div>X-Request-Id: 131ae5ce-7d67-4dca-b5ef-d2ebd4a4555f</div>
        <div>X-Runtime: 0.127596</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 06 Aug 2018 10:44:30 GMT</div>
        <div>Content-Type: application/json</div>
</div>


