<div>DELETE to http://bullboard.dmosrv.com/v1/users/lotestgout</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 2822b49eb5e5281de06b794896dd271ab57eac6069d9f70621</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X DELETE &#39;http://bullboard.dmosrv.com/v1/users/lotestgout&#39; -H &#39;Authorization: 2822b49eb5e5281de06b794896dd271ab57eac6069d9f70621&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;
}&#39;
</div>
