<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;830821547df363b087432fe21b5eb352934f1031140a4f4d04&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;622c1f55482b822e5307dd807eb91e7e&quot;</div>
        <div>X-Request-Id: de0ce212-3f50-4ef7-a9fc-792a87ccf6e3</div>
        <div>X-Runtime: 0.123453</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 23 Jul 2018 19:08:50 GMT</div>
        <div>Content-Type: application/json</div>
</div>


