<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c825eb0b4ce775b10e9d68fb4bc8c6478c71637bdad587ef0b&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;cd3de7cac59374e4d722123cc3feb719&quot;</div>
        <div>X-Request-Id: dc7950be-ea93-4a01-8848-5b35db88553b</div>
        <div>X-Runtime: 0.116089</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 23 Jul 2018 19:08:50 GMT</div>
        <div>Content-Type: application/json</div>
</div>


