<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;08efed3cbab6a0c29e20aa7b652a9d9e68942bf46d76341bd2&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;584ee36b85c83732355791ff3cfb3173&quot;</div>
        <div>X-Request-Id: 332a8ce2-0565-46e9-bdfc-f5045d3bc704</div>
        <div>X-Runtime: 1.961489</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: mkt</div>
        <div>Date: Mon, 10 Sep 2018 13:33:07 GMT</div>
        <div>Content-Type: application/json</div>
</div>


