<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    true
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: true</div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b326b5062b2f0e69046810717534cb09&quot;</div>
        <div>X-Request-Id: 8a3b010a-ee9a-4ab3-809c-b7623fe44197</div>
        <div>X-Runtime: 0.074763</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 4</div>
        <div>X-Exchange-Status: mkt</div>
        <div>Date: Mon, 10 Sep 2018 13:35:13 GMT</div>
        <div>Content-Type: application/json</div>
</div>


