<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 69,
    &quot;name&quot;: &quot;Wallet #4&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x4540FcF016bCB67290C3E14238702C64e6a51600&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-07-18 19:30:40 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-07-18 19:30:40 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;8bcf2bc5eea7e40deb6a3bc076fb49a9&quot;</div>
        <div>X-Request-Id: bb2cd7b8-3b13-46e5-ad9e-4314fc1e25b3</div>
        <div>X-Runtime: 0.102574</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 196</div>
        <div>Date: Wed, 18 Jul 2018 19:30:40 GMT</div>
        <div>Content-Type: application/json</div>
</div>


