<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c6b8d4431eddd71bc4e1af982d9fc03c19a51d7b1bdc7ac10a&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;023e0f7f0950c61d0eb180475c054145&quot;</div>
        <div>X-Request-Id: 10012ffd-eded-4529-bf03-6ba019541a17</div>
        <div>X-Runtime: 0.109803</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:36:25 GMT</div>
        <div>Content-Type: application/json</div>
</div>


