<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;cf305e6bb91461d89de2ce844ee2e7acfdaacfd8d21986a28d&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1ac01cc81104963f9f32741d500941c5&quot;</div>
        <div>X-Request-Id: 859c10ab-1328-4054-b768-07563d37819f</div>
        <div>X-Runtime: 0.129666</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:11:26 GMT</div>
        <div>Content-Type: application/json</div>
</div>


