<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;786d0653c9150cf2dfc02504c7aad7a3bc98a4dea1f49dc1da&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;9706cbebfc794f26c8bea9b0d319df36&quot;</div>
        <div>X-Request-Id: 294d5704-1f55-4ba6-a1b2-d26be214196e</div>
        <div>X-Runtime: 0.122477</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:38:42 GMT</div>
        <div>Content-Type: application/json</div>
</div>


