<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;17825e79cab73ca285042e7a37821a820acd6df2b20ce41b2c&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;5c2d9cccca5b53a7e954602805264212&quot;</div>
        <div>X-Request-Id: 27a8b2b1-2dfa-4b5c-a347-65e78804c566</div>
        <div>X-Runtime: 0.237995</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:12:18 GMT</div>
        <div>Content-Type: application/json</div>
</div>


