<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;a367d83c191a61b7432147c39c146ce0d4d4cda67c0531fc68&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;e6c63a16680d7dea947bd281435b28e0&quot;</div>
        <div>X-Request-Id: cda45718-be8a-45cb-84ad-fdb76f35c17d</div>
        <div>X-Runtime: 1.811800</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:31:18 GMT</div>
        <div>Content-Type: application/json</div>
</div>


