<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;5f786a3014e78b426815e489aa9f297f500daffd03052a8e7c&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;910f00ebf22eb47a14c6b4b531a72909&quot;</div>
        <div>X-Request-Id: be6eac5f-9aa1-4bcb-bd09-9a1946515748</div>
        <div>X-Runtime: 0.134753</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:36:24 GMT</div>
        <div>Content-Type: application/json</div>
</div>


