<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;The specified address does not exist&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: f70e5616-52ae-4be9-8e55-f0b219d6d6b1</div>
        <div>X-Runtime: 0.167263</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 74</div>
        <div>Date: Sat, 21 Jul 2018 07:52:58 GMT</div>
        <div>Content-Type: application/json</div>
</div>


