<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Authorization failed&quot;,
    &quot;code&quot;: &quot;auth_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 68195b56-c47a-4138-898c-86124c290f1e</div>
        <div>X-Runtime: 0.088331</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Thu, 02 Aug 2018 14:02:50 GMT</div>
        <div>Content-Type: application/json</div>
</div>


