<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 142,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-02 07:13:08 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-02 07:13:08 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;9bba6bf32cf9329a913dd3ddf967706f&quot;</div>
        <div>X-Request-Id: 8451a147-1303-4a8b-bb03-962cb84d9e75</div>
        <div>X-Runtime: 0.044277</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Thu, 02 Aug 2018 07:13:08 GMT</div>
        <div>Content-Type: application/json</div>
</div>


