<div>Status code 406 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    &lt;html&gt;
  &lt;body&gt;The requested format &#39;txt&#39; is not supported.&lt;/body&gt;
&lt;/html&gt;
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 9b2928d9-6956-4afb-8ce8-5023b778da0c</div>
        <div>X-Runtime: 0.003079</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 44</div>
        <div>Date: Mon, 06 Aug 2018 11:35:11 GMT</div>
        <div>Content-Type: text/html</div>
</div>


