<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;e1caef04bc6da642a8268c7c5116808a5cbcfed2404829902c&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b1e1044b1c7f798b634cf8b7c982491d&quot;</div>
        <div>X-Request-Id: 2216ef8e-be28-4d22-885e-d9295b5f4f4e</div>
        <div>X-Runtime: 0.141798</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 14:04:44 GMT</div>
        <div>Content-Type: application/json</div>
</div>


