<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    true
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: true</div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b326b5062b2f0e69046810717534cb09&quot;</div>
        <div>X-Request-Id: 092c4822-b879-4b4a-bfe0-7636dd16b88b</div>
        <div>X-Runtime: 0.345502</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 4</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:31:18 GMT</div>
        <div>Content-Type: application/json</div>
</div>


