<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;86d234eb12639559d734ba7fdca31f8be47db39640744c7e6e&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f921ea0e38d26a36e17f6c411a53624b&quot;</div>
        <div>X-Request-Id: 578b07d7-6d17-4d92-b55f-6469b2b2fc22</div>
        <div>X-Runtime: 1.267393</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: mkt</div>
        <div>Date: Mon, 10 Sep 2018 13:33:32 GMT</div>
        <div>Content-Type: application/json</div>
</div>


