<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;aecc7f4c5aa804c96b1a32fc72d9ef78f515e975362c40660c&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;863d4548b366841c8c635980b1804e7b&quot;</div>
        <div>X-Request-Id: bf0d86c5-59c2-4922-9605-5bb469754793</div>
        <div>X-Runtime: 0.239207</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:33:44 GMT</div>
        <div>Content-Type: application/json</div>
</div>


