<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;6345c4a5e092a45fe042d2ca05845aaf742a6120d929921f6e&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;c0dbed72c5e7a06a5114e6388bf85a89&quot;</div>
        <div>X-Request-Id: e30f91a6-260f-4559-93f8-bb17cbef579b</div>
        <div>X-Runtime: 0.782125</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:30:41 GMT</div>
        <div>Content-Type: application/json</div>
</div>


