<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;b518c6b0d236aae8384d97ffb4b80aa2ab288aad43aae1e9d2&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d020ac01d1aa0f314e82cfaf2492051a&quot;</div>
        <div>X-Request-Id: ff10fa78-1e3f-44f2-9f39-c18bf06bd92c</div>
        <div>X-Runtime: 0.143729</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Fri, 20 Jul 2018 19:52:29 GMT</div>
        <div>Content-Type: application/json</div>
</div>


