<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Wallet already exists&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: fd492410-917b-41de-8efc-15abe22b192b</div>
        <div>X-Runtime: 0.020728</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 59</div>
        <div>Date: Wed, 18 Jul 2018 19:30:53 GMT</div>
        <div>Content-Type: application/json</div>
</div>


