<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;73edea94605fadbb96fb3703876312ed0be96b0d1cec8477d4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;e4a554be8772231f7f764ed18c79935f&quot;</div>
        <div>X-Request-Id: ce18208d-4097-4437-8ce3-aa2a0e7dc1de</div>
        <div>X-Runtime: 0.173621</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:40:32 GMT</div>
        <div>Content-Type: application/json</div>
</div>


