<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Wallet already exists&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 00f2017c-995a-472f-8ad3-a6a49adbee5d</div>
        <div>X-Runtime: 0.069449</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 59</div>
        <div>Date: Sat, 21 Jul 2018 08:00:32 GMT</div>
        <div>Content-Type: application/json</div>
</div>


