<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Email has already been taken&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 98ec09a2-efec-4482-b25a-ae245149c62e</div>
        <div>X-Runtime: 0.009818</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 66</div>
        <div>Date: Mon, 06 Aug 2018 10:44:30 GMT</div>
        <div>Content-Type: application/json</div>
</div>


