<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;id&quot;: 146,
    &quot;name&quot;: &quot;Wallet #1&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;,
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;balance&quot;: null,
    &quot;created_at&quot;: &quot;2018-08-02 10:44:59 UTC&quot;,
    &quot;updated_at&quot;: &quot;2018-08-02 10:44:59 UTC&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;64788da1b19c91ec01af3786d729ec64&quot;</div>
        <div>X-Request-Id: 4be68e93-a116-4b61-b008-b57e2e321eb2</div>
        <div>X-Runtime: 0.032015</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 197</div>
        <div>Date: Thu, 02 Aug 2018 10:44:59 GMT</div>
        <div>Content-Type: application/json</div>
</div>


