<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;3ec738ee7d89a76eb328ac9140a6bebb317235a29ee5ba9105&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;517825470e92c8ec74abd74863755891&quot;</div>
        <div>X-Request-Id: 9dc91351-a8c6-498b-ad9b-b267d91a3e85</div>
        <div>X-Runtime: 0.976859</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 10:49:59 GMT</div>
        <div>Content-Type: application/json</div>
</div>


