<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;80f1de1498ec5497d45c6630dc861355e9b924080cc9a4866f&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;ff4697cc6e57cb83f596440ca4700725&quot;</div>
        <div>X-Request-Id: 593036fd-f3d5-473c-9fd2-8533c8007b76</div>
        <div>X-Runtime: 0.156258</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:21:29 GMT</div>
        <div>Content-Type: application/json</div>
</div>


