<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;8d82e1b612d35e42eb42fa81878e5285a3e5539b4e4a9a3562&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;37952075407634ab6b15086f4cff2fb8&quot;</div>
        <div>X-Request-Id: 90a779de-7e74-4cca-98f4-b64b39a828df</div>
        <div>X-Runtime: 0.120100</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:38:16 GMT</div>
        <div>Content-Type: application/json</div>
</div>


