<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;dbf1ae03827f04381b5d658d76a3a67f392762dea287fb2790&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;319e93f84afdf9db8635cae97c800815&quot;</div>
        <div>X-Request-Id: 56647a72-0b94-492d-b4eb-16d7da0c9cb0</div>
        <div>X-Runtime: 0.165930</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:05:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


