<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;38417fc32b37b3e63ab65158741b2162598ce97d1bf957c2b0&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;297b6b4897ff4f965a475ece0b2e5f4e&quot;</div>
        <div>X-Request-Id: 7b3cac4a-9c4b-4a58-9840-339820a3c609</div>
        <div>X-Runtime: 0.120937</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 10:44:58 GMT</div>
        <div>Content-Type: application/json</div>
</div>


