<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;440ea45de1f543656fa719db0d2849d163d0f486545e275b89&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;70381b6bcadd2b53e78a563de829eab8&quot;</div>
        <div>X-Request-Id: c743cd67-02fd-40a6-b873-678d93d7c17a</div>
        <div>X-Runtime: 0.138124</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 06 Aug 2018 07:24:34 GMT</div>
        <div>Content-Type: application/json</div>
</div>


