<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;8f93b778effe88e746dd616b7b353a64d361946dadea3f7af4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1275adfe41e049764f575a196903aaad&quot;</div>
        <div>X-Request-Id: e58cc3d1-a10a-4e79-9b30-5035c6fc254d</div>
        <div>X-Runtime: 0.139014</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 14:56:01 GMT</div>
        <div>Content-Type: application/json</div>
</div>


