<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;cdee21f1740428b25e022e3080f4242efa453190434c4f1ed0&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;889885ae169072ea756d6617faa60f3b&quot;</div>
        <div>X-Request-Id: d3003d18-74e8-43d3-8efe-21e495ce93e1</div>
        <div>X-Runtime: 0.151258</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 19 Jul 2018 15:13:58 GMT</div>
        <div>Content-Type: application/json</div>
</div>


