<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;8155214cf1d2a6bc106dff5a0de6677b189bd0dfe9738fa16b&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;3d33c877f37348f00438ff269c2e3227&quot;</div>
        <div>X-Request-Id: a2ffa9ee-542d-4b49-9bd1-568e88764a3a</div>
        <div>X-Runtime: 0.666567</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:28:43 GMT</div>
        <div>Content-Type: application/json</div>
</div>


