<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;e24d129fc61629200c22a23dcee68793d7a348da7b1122b66f&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;e155756cc84844c88b6f31e4b9443182&quot;</div>
        <div>X-Request-Id: 867832b2-4609-4e91-8576-b96922a1e561</div>
        <div>X-Runtime: 1.015722</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:27:26 GMT</div>
        <div>Content-Type: application/json</div>
</div>


