<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;b59dccaa3c0960a48c4128501efa15418c4e06f89788f63ba4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;797365b1ea8c6794b7ae50cbb8cf4231&quot;</div>
        <div>X-Request-Id: 044b4498-2706-4a19-970c-0e32503601df</div>
        <div>X-Runtime: 0.146372</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:55:40 GMT</div>
        <div>Content-Type: application/json</div>
</div>


