<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;8b6aa54dccb59712b18d28e57f2ecbf6f410c6e1c09ad89a60&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d288704e1a91d999252ce49ff4e56ce1&quot;</div>
        <div>X-Request-Id: 28343414-7569-4ac2-844f-3fb5d4321673</div>
        <div>X-Runtime: 0.148572</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Tue, 17 Jul 2018 18:14:03 GMT</div>
        <div>Content-Type: application/json</div>
</div>


