<div>Status code 401 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Unauthorized&quot;,
    &quot;code&quot;: &quot;unauthorized_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 84158e7c-2dde-4a52-82b2-9b568f4a9a2d</div>
        <div>X-Runtime: 0.008976</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Mon, 06 Aug 2018 11:35:34 GMT</div>
        <div>Content-Type: application/json</div>
</div>


