<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c0798ff5010d669eda251dbeb249914a298ca97331b018e7e4&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;e71ca64e810f7435107f7e291fe1cea5&quot;</div>
        <div>X-Request-Id: f01f0214-ac19-4c67-bbd0-cab5ea224c60</div>
        <div>X-Runtime: 0.143172</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Mon, 06 Aug 2018 07:24:34 GMT</div>
        <div>Content-Type: application/json</div>
</div>


