<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;63212db4b531cdcbe9b3b604473fc6f520bcf662d59ee96f56&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;9a9ef2bd3473547144ba4619f154a5de&quot;</div>
        <div>X-Request-Id: 7235e0c7-100b-41d3-b6fa-b0d66fd812aa</div>
        <div>X-Runtime: 0.230756</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:21:48 GMT</div>
        <div>Content-Type: application/json</div>
</div>


