<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;5efc4038314deb3226ba6e21bb876dd0820446b538b76dca7f&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;1664d75b18a9e5ae0e465c1b667e0f5c&quot;</div>
        <div>X-Request-Id: 6ab9c49a-fe72-48b3-827f-31f1c4c1959a</div>
        <div>X-Runtime: 0.152721</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:57:41 GMT</div>
        <div>Content-Type: application/json</div>
</div>


