<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;ac41a5539b88b13e8d6ae225b41f6b59b99559b47ce1564582&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;33f67ce870b5931c1a6fd40434cd95b7&quot;</div>
        <div>X-Request-Id: 3bb07815-1b25-4009-9945-d837ad52429c</div>
        <div>X-Runtime: 1.151277</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 10:49:25 GMT</div>
        <div>Content-Type: application/json</div>
</div>


