<div>DELETE to http://bullboard.dmosrv.com/v1/users/logout</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 6345c4a5e092a45fe042d2ca05845aaf742a6120d929921f6e</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X DELETE &#39;http://bullboard.dmosrv.com/v1/users/logout&#39; -H &#39;Authorization: 6345c4a5e092a45fe042d2ca05845aaf742a6120d929921f6e&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;
}&#39;
</div>
