<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;cc91b8fe43b1534754998e0f2161539b50519641413891f633&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;a80ef9a21588bee57c7818d086b99e53&quot;</div>
        <div>X-Request-Id: 76fc1bed-f3db-4101-a613-4711e6d434cb</div>
        <div>X-Runtime: 0.756706</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:27:37 GMT</div>
        <div>Content-Type: application/json</div>
</div>


