<div>POST to http://api.betholder.io/v1/wallets</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: 83e85845ac0cf71e5631d7e23014b77011effe50eabf78326c</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/wallets&#39; -H &#39;Authorization: 83e85845ac0cf71e5631d7e23014b77011effe50eabf78326c&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;address&quot;: &quot;0x9b538c3d144dc8b8648280E8fC0b8aF334e7b312&quot;,
    &quot;wallet_type&quot;: &quot;eth&quot;
}&#39;
</div>
