<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;16c89b22e10368e11b7cfec3974af3c76e407e25fb922d68df&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;39b36917ae3340155abf9b91378c6965&quot;</div>
        <div>X-Request-Id: f81869ec-370e-4dca-bfe3-1ec1beffd7d1</div>
        <div>X-Runtime: 0.117980</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:35:42 GMT</div>
        <div>Content-Type: application/json</div>
</div>


