<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;e220ba74f5ad1565280f1842c041ebd5f9b2ff5183e7d12c07&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;94e9b2af101050535b313dde7a81ad89&quot;</div>
        <div>X-Request-Id: e6fc3363-07a1-49de-809b-bfe30954d7a0</div>
        <div>X-Runtime: 1.237550</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 10:49:38 GMT</div>
        <div>Content-Type: application/json</div>
</div>


