<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;83e85845ac0cf71e5631d7e23014b77011effe50eabf78326c&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;aefa90bba7c88e35fd519e845c998f5d&quot;</div>
        <div>X-Request-Id: b4486d46-e5d0-4255-a998-86a52cd42930</div>
        <div>X-Runtime: 0.128892</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:11:41 GMT</div>
        <div>Content-Type: application/json</div>
</div>


