<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;f53d68677396e4ebbefb963b2b9d71a8844e16bfaa725587e1&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;38f6e8295f50375be17c9d08355bc262&quot;</div>
        <div>X-Request-Id: 53aba9a2-94c2-46e9-a504-91958b4b239b</div>
        <div>X-Runtime: 0.184504</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Thu, 02 Aug 2018 07:21:28 GMT</div>
        <div>Content-Type: application/json</div>
</div>


