<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;22aa362e3211bb28fa8d76d2e9677af3cc6838111cfd93c3c8&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;d9b1fca7627851e79885b3ff854e56f1&quot;</div>
        <div>X-Request-Id: ad517bdc-07d5-4a53-ab63-83fd9038c0ab</div>
        <div>X-Runtime: 0.114460</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:33:39 GMT</div>
        <div>Content-Type: application/json</div>
</div>


