<div>Status code 401 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Unauthorized&quot;,
    &quot;code&quot;: &quot;unauthorized_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 9f1afd94-d2f4-4ed0-8218-9b8e99646f36</div>
        <div>X-Runtime: 0.008574</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 52</div>
        <div>Date: Mon, 06 Aug 2018 12:06:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


