<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;2b85e07c9f1c797b596cdfdb9c99ae8824ef75d505e6aae126&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;f54c75f12ad8f7b7dc1c271fa3dcb69f&quot;</div>
        <div>X-Request-Id: 363442a3-d94a-4410-95d5-48c697582f96</div>
        <div>X-Runtime: 0.108211</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>Date: Wed, 18 Jul 2018 18:38:21 GMT</div>
        <div>Content-Type: application/json</div>
</div>


