<div>Status code 422 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;error&quot;: &quot;Email has already been taken&quot;,
    &quot;code&quot;: &quot;validation_error&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: nginx/1.10.3</div>
        <div>Cache-Control: no-cache</div>
        <div>X-Request-Id: 2fc07241-47d4-4866-ad10-0d92679e4c3d</div>
        <div>X-Runtime: 0.010957</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 66</div>
        <div>Date: Tue, 17 Jul 2018 18:30:19 GMT</div>
        <div>Content-Type: application/json</div>
</div>


