<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;d871cd83bee25887a19b9ee82f637c0a536f6e0627c7560a80&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;618bbf0789292e5419687b7fc7770e1a&quot;</div>
        <div>X-Request-Id: cd3c4856-f627-4e73-be60-00980c765c7c</div>
        <div>X-Runtime: 3.484054</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 10:49:02 GMT</div>
        <div>Content-Type: application/json</div>
</div>


