<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    true
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: true</div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;b326b5062b2f0e69046810717534cb09&quot;</div>
        <div>X-Request-Id: 97295180-0103-47f6-bd8d-935ef1dc2741</div>
        <div>X-Runtime: 0.119816</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 4</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 12:29:15 GMT</div>
        <div>Content-Type: application/json</div>
</div>


