<div>POST to http://api.betholder.io/v1/users/register</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;password&quot;: &quot;test&quot;,
    &quot;user_type&quot;: &quot;wallet_tracker&quot;,
    &quot;device_identifier&quot;: &quot;test&quot;,
    &quot;name&quot;: &quot;test&quot;,
    &quot;device_platform&quot;: &quot;ios&quot;,
    &quot;email&quot;: &quot;OgZBesuperusermobileqatest@qa.com&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;http://api.betholder.io/v1/users/register&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39; -d &#39;{
    &quot;password&quot;: &quot;test&quot;,
    &quot;user_type&quot;: &quot;wallet_tracker&quot;,
    &quot;device_identifier&quot;: &quot;test&quot;,
    &quot;name&quot;: &quot;test&quot;,
    &quot;device_platform&quot;: &quot;ios&quot;,
    &quot;email&quot;: &quot;OgZBesuperusermobileqatest@qa.com&quot;
}&#39;
</div>
