<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;api_key&quot;: &quot;c34136fe1711fda63e8fd2f191e177d82b203b2190fbd0e51b&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>X-Realtime-Status: </div>
        <div>Server: nginx/1.10.3 (Ubuntu)</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>ETag: W/&quot;a986214648210a2f7c4c2ac537e53252&quot;</div>
        <div>X-Request-Id: d4432243-9b74-42d4-82fa-7951273a3da3</div>
        <div>X-Runtime: 0.158145</div>
        <div>Connection: keep-alive</div>
        <div>Content-Length: 64</div>
        <div>X-Exchange-Status: pre</div>
        <div>Date: Mon, 06 Aug 2018 11:55:55 GMT</div>
        <div>Content-Type: application/json</div>
</div>


